In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Reading the Dataset
data = pd.read_csv('D:/Ai course/2.MachineLearning/insurance_pre.csv')
data

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(data,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [4]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent=dataset[['charges']]

In [5]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(independent, dependent, test_size = 1/3, random_state = 0)

In [6]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [7]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import AdaBoostRegressor
param_grid={'n_estimators':[50,100,1000],'loss':['square','exponential','linear']}
grid=GridSearchCV(AdaBoostRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(X_train,Y_train)

Fitting 5 folds for each of 9 candidates, totalling 45 fits

C:\Users\LENOVO\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=AdaBoostRegressor(), n_jobs=-1,
             param_grid={'loss': ['square', 'exponential', 'linear'],
                         'n_estimators': [50, 100, 1000]},
             verbose=3)

In [12]:
re=grid.cv_results_
grid_predictions=grid.predict(X_test)
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,grid_predictions)
print('The R_score values for best parameter{} is:'.format(grid.best_params_),r_score)

The R_score values for best parameter{'loss': 'linear', 'n_estimators': 1000} is: 0.8496670220285479

In [13]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_loss,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.209446,0.029807,0.015360,0.007318,square,50,"{'loss': 'square', 'n_estimators': 50}",0.350149,0.337890,0.547317,0.374035,0.602729,0.442424,0.110290,6
1,0.286242,0.007596,0.017754,0.001163,square,100,"{'loss': 'square', 'n_estimators': 100}",0.300130,0.330769,0.529819,0.363966,0.563920,0.417721,0.107906,7
2,2.665150,0.081140,0.160576,0.011159,square,1000,"{'loss': 'square', 'n_estimators': 1000}",0.234422,0.245430,0.496009,0.291347,0.521306,0.357703,0.124981,9
3,0.167955,0.009284,0.011769,0.001163,exponential,50,"{'loss': 'exponential', 'n_estimators': 50}",0.472952,0.455457,0.627410,0.539259,0.670307,0.553077,0.084153,4
4,0.304993,0.002475,0.017553,0.000798,exponential,100,"{'loss': 'exponential', 'n_estimators': 100}",0.373841,0.365919,0.564548,0.436234,0.617714,0.471651,0.101946,5
5,2.699859,0.195286,0.156792,0.035075,exponential,1000,"{'loss': 'exponential', 'n_estimators': 1000}",0.294773,0.268763,0.516069,0.302381,0.555706,0.387538,0.122283,8
6,0.033511,0.010735,0.004189,0.000746,linear,50,"{'loss': 'linear', 'n_estimators': 50}",0.766883,0.736021,0.826113,0.794038,0.798950,0.784401,0.030633,2
7,0.034509,0.011879,0.004189,0.000399,linear,100,"{'loss': 'linear', 'n_estimators': 100}",0.788273,0.716903,0.825227,0.799337,0.787325,0.783413,0.035957,3
8,0.027527,0.007041,0.003990,0.000631,linear,1000,"{'loss': 'linear', 'n_estimators': 1000}",0.762351,0.732397,0.833091,0.817798,0.793025,0.787732,0.036594,1