In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import lightgbm as lg

In [3]:
# Reading the Dataset
data = pd.read_csv('D:/Ai course/2.MachineLearning/insurance_pre.csv')
data

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(data,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [5]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]
dependent=dataset[['charges']]

In [6]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(independent, dependent, test_size = 1/3, random_state = 0)

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [9]:
from sklearn.model_selection import GridSearchCV
from lightgbm import LGBMRegressor
param_grid={'n_estimators':[50,100,1000],'loss':['square','exponential','linear']}
grid=GridSearchCV(LGBMRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(X_train,Y_train)

Fitting 5 folds for each of 9 candidates, totalling 45 fits

C:\Users\LENOVO\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GridSearchCV(estimator=LGBMRegressor(), n_jobs=-1,
             param_grid={'loss': ['square', 'exponential', 'linear'],
                         'n_estimators': [50, 100, 1000]},
             verbose=3)

In [11]:
re=grid.cv_results_
grid_predictions=grid.predict(X_test)
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,grid_predictions)
print('The R_score values for best parameter{} is:'.format(grid.best_params_),r_score)

The R_score values for best parameter{'loss': 'square', 'n_estimators': 50} is: 0.8808605748189225

In [12]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_loss,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.044681,0.004203,0.003989,0.000631,square,50,"{'loss': 'square', 'n_estimators': 50}",0.807563,0.797057,0.857271,0.844518,0.791089,0.819500,0.026480,1
1,0.077193,0.004212,0.005187,0.000399,square,100,"{'loss': 'square', 'n_estimators': 100}",0.796474,0.776414,0.836671,0.821981,0.776699,0.801648,0.024191,4
2,0.898211,0.018267,0.032514,0.004069,square,1000,"{'loss': 'square', 'n_estimators': 1000}",0.747012,0.676747,0.777184,0.743001,0.718223,0.732433,0.033555,7
3,0.038896,0.001092,0.003592,0.000489,exponential,50,"{'loss': 'exponential', 'n_estimators': 50}",0.807563,0.797057,0.857271,0.844518,0.791089,0.819500,0.026480,1
4,0.071609,0.000746,0.004987,0.000630,exponential,100,"{'loss': 'exponential', 'n_estimators': 100}",0.796474,0.776414,0.836671,0.821981,0.776699,0.801648,0.024191,4
5,0.905592,0.039971,0.033910,0.003676,exponential,1000,"{'loss': 'exponential', 'n_estimators': 1000}",0.747012,0.676747,0.777184,0.743001,0.718223,0.732433,0.033555,7
6,0.038895,0.001545,0.003392,0.000489,linear,50,"{'loss': 'linear', 'n_estimators': 50}",0.807563,0.797057,0.857271,0.844518,0.791089,0.819500,0.026480,1
7,0.072208,0.001017,0.004587,0.000489,linear,100,"{'loss': 'linear', 'n_estimators': 100}",0.796474,0.776414,0.836671,0.821981,0.776699,0.801648,0.024191,4
8,0.958650,0.147078,0.030727,0.003291,linear,1000,"{'loss': 'linear', 'n_estimators': 1000}",0.747012,0.676747,0.777184,0.743001,0.718223,0.732433,0.033555,7